@import 'variables';
$phone-landscape: 760px;
.clientreview {
    background: $dark-blue;
    padding: rem(50px) rem(0px);
    .owl-carousel {
        .testimonial {
            margin: 0 20px 40px;
            .testimonial-content {
                padding: 35px 25px 35px 50px;
                margin-bottom: 35px;
                background: #fff;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -30px;
                    left: 0;
                    border-top: 15px solid #718076;
                    border-left: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                    border-top: 15px solid #718076;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                }
                .testimonial-icon {
                    width: 50px;
                    height: 45px;
                    background: #0CCA4A;
                    text-align: center;
                    font-size: 22px;
                    color: #fff;
                    line-height: 42px;
                    position: absolute;
                    top: 37px;
                    left: -19px;
                    &:before {
                        content: "";
                        border-bottom: 16px solid #05A739;
                        border-left: 18px solid transparent;
                        position: absolute;
                        top: -16px;
                        left: 1px;
                    }
                }
            }
            .description {
                font-size: 15px;
                font-style: italic;
                color: #8a8a8a;
                line-height: 23px;
                margin: 0;
            }
            .title {
                display: block;
                font-size: 18px;
                font-weight: 700;
                color: #525252;
                text-transform: capitalize;
                letter-spacing: 1px;
                margin: 0 0 5px 0;
            }
            .post {
                display: block;
                font-size: 14px;
                color: #0CCA4A;
            }
        }
        .owl-theme {
            color: $white;
        }
        .owl-item {
            figure {
                line-height: 0;
                margin: 0;
                position: relative;
                figcaption {
                    background: rgba($black, 1);
                    font-size: rem(16px);
                    line-height: 1.33;
                    padding: rem(10px) rem(20px);
                    text-align: left;
                    z-index: 10;
                    position: absolute;
                    bottom: rem(0px);
                    color: $white;
                }
            }
            &.loading {
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/476573/AjaxLoader.gif) no-repeat center center;
                min-height: rem(150px);
            }
        }
        position: relative;
        .owl-next,
        .owl-prev {
            background: $skyblue;
            width: rem(50px);
            height: rem(50px);
            line-height: rem(50px);
            border-radius: 0;
            position: absolute;
            top :calc(45% - #{rem(25px)});
            font-size: rem(30px);
            color: #fff;
            border: 1px solid #ddd;
            text-align: center;
        }
        .owl-next {
            right: rem(0px);
        }
        .owl-prev {
            left: rem(0px);
        }
        .owl-nav [class*='owl-'] {
            @include flexbox;
            @include align-items($value: center);
            @include justify-content($value: center);
            margin: rem(0px);
            padding: rem(0px);
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            &.disabled:hover {
                background-color: #D6D6D6;
            }
        }
    }
}