@import 'mixins';
// Color code theme
// https://flatuicolors.com/
$primary:#6c5ce7; // #151539;
$secondary:#211f51;
$dark-blue:#070713;
$skyblue:#678dd6;
$white:#ffffff;
$black:#010101;
$dark-yellow:#ffc107;
$redish:#d63031;
// border property
$border-radius-10: rem(10px);
$border-radius-20: rem(20px);
$border-radius-30: rem(30px);